:root {
    --gray: #858E99;
    --lavender: #CCCCFF;
  }

.album-container {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 5px;
    background-color: #ffffff;
    text-align: center;
    display: flex; /* Utilisation de flexbox pour aligner les éléments sur la même ligne */
    align-items: center; /* Alignement vertical */
}

.album-container > * {
    margin-inline: auto;
}

.album-image {
    width: 10%;
    height: 187px;
}

.view-album-button {
    margin-top: 10px;
    background-color: var(--gray);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-album-button:hover {
    scale: 1.1;
    background-color: var(--lavender);
    color: var(--gray);
}

.view-album-button:active {
    scale: 0.9;
    background-color: var(--lavender);
    color: var(--gray);
}

#container_infos_album {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#container_infos_album > div {
    flex: 1;
    padding: 10px;
    text-align: left;
}

#container_infos_album p {
    margin: 0;
}

.form-ajout{
    display: flex;
    align-items: center; /* Alignement vertical */
}

.form-ajout > * {
    margin-inline: auto;
    padding: 15px;
}

.infos-new-artiste{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-infos {
    border: 1px solid var(--gray);
    padding: 10px;
    border-radius: 5px;
}

/* partie upload d'image */
.header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header svg {
    height: 100px;
    padding: 7px;
}

.header p {
    text-align: center;
    color: black;
    padding: 7px;
}

.footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

.footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
    flex: 1;
    text-align: center;
}

#file {
    display: none;
}