@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
  }

:root {
  --gray: #858E99;
  --lavender: #CCCCFF;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.global-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.global-wrapper aside {
  position: relative;
  width: 112px;
  float: left;
  text-align: center;
  height: 100%;
  transition: all 0.3s ease-in-out;
  border: 1px solid silver;
}

.global-wrapper aside ul {
  list-style: none;
  padding-left: 0;
}

.global-wrapper aside ul li {
  padding: 20px 0 10px 0;
  cursor: pointer;
}

.global-wrapper aside ul li:hover {
  border-left: 3px solid var(--lavender);
  background: ghostwhite;
}

.global-wrapper aside ul li:hover i {
  color: var(--lavender) !important;
}

.global-wrapper aside ul li .nav-item {
  display: inline-block;
  width: 30px;
  overflow: hidden;
  height: 30px;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  color: var(--gray);
}

.global-wrapper aside ul li .nav-item img {
  float: left;
  position: relative;
  top: 0px;
  color: var(--gray);
  width: 30px;
  height: 30px;
}

.global-wrapper aside ul li .nav-item span {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.global-wrapper aside ul li.active {
  border-left: 3px solid var(--lavender);
  background: ghostwhite;
}

.global-wrapper aside ul:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.global-wrapper main {
  float: left;
  width: calc(100% - 114px);
  height: 100%;
  overflow: scroll;
  transition: all 0.3s ease-in-out;
}

.global-wrapper main #blackout-on-hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.global-wrapper main header {
  position: relative;
  background: var(--lavender);
  width: 100%;
  height: 100px;
}

.global-wrapper main header h2 {
  color: white;
  font-size: 34px;
  margin-left: 10px;
}


.global-wrapper main header a {
  font-weight: 100;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.global-wrapper aside:hover {
  width: 300px;
  transition: all 0.3s ease-in-out;
}

.global-wrapper aside:hover .nav-item {
  display: inline-block;
  width: 150px;
  overflow: hidden;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.global-wrapper aside:hover .nav-item i {
  float: left;
}

.global-wrapper aside:hover .nav-item span {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.global-wrapper aside:hover ~ #main {
  width: calc(100% - 302px);
  transition: all 0.3s ease-in-out;
}

.global-wrapper aside:hover ~ #main #blackout-on-hover {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

  #search-bar {
    display: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box{
  background-color: #bc85fa;
  border-radius: 50px;
  padding: 10px;
  border: 2px solid #fff;
}
.search-input{
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #bc85fa;
  color: white;
  font-weight: bold;
}
.search-input::placeholder{
    color: white;
}
.search-button{
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 50px;
  background-color: white;
  color: #bc85fa;
}

.search-button:hover{
  scale: 1.2;
}

.div-top {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.croix{
  width: 10px;
  height: 10px;
}
.croix-button{
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #bc85fa;
  border-radius: 100%;
  border: 2px solid #fff;
}
.croix-button:hover{
  scale: 1.2;
}






.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
  margin-left: 10px;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  height: 40px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(0px);
}

.btn:hover .icon {
  width: 200px;
  margin-left: 40px;
}

.btn:hover .text {
  transition: all 0.2s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}
.btn2{
  margin-top: 30px;
}


/* parametre */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2000;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 350px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.open-modal-btn {
  background: 0;
  border: 0;
}
.open-modal-btn:focus ~ .modal-overlay, .open-modal-btn:focus ~ .modal-overlay .modal{
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.close-modal-btn {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 24px;
}

.close-modal-btn:hover {
  color: #f00;
}
.close-modal-btn:focus ~ .modal-overlay{
  opacity: 0;
  visibility: hidden;
}

.attribute{
  position: absolute;
  bottom: 10px;
}
.para{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

















/* top */
.top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(15px);
}
.infos{
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-shadow: 0 0 10px #bc85fa, 0 0 40px var(--lavender);
}
.art {
    display: flex;
    flex-direction: column; 
    gap: 50px;
    text-shadow: 0 0 10px #bc85fa, 0 0 40px var(--lavender);
}
.imgart{
    box-shadow: 0 2px 4px rgba(0,0,0,0.55);
}

/* tableau */


body{
    background-color:#E3E8E6;
    display:grid;
    place-items:center;
    height:100dvh;
    margin:0;
  }
  
  .main-table-container{
    border-bottom-left-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    background-color:#F6F6F4;
    width:100%;
    
      padding: 1rem 1rem;
    box-shadow: 0px 2px 5px 0px #00000033;
  }
  
  table{
    width:100%;
    font-weight:600;
    FONT-SIZE:11PX;
    BORDER-COLLAPSE:COLLAPSE;
    color:#474747;
  }
  
  tr{
    transition:background-color 0.2s;
  
  }
  tr:hover{
    background-color:#FFFFFD; 
  }
  td{
    padding:1rem;
    border:none;
  }
  
  td{
    text-align:center;
  }
  td:first-child{
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    text-align:left;
  
  }
  
  td:last-child{
    border-radius: 0rem 1.5rem 1.5rem 0rem;
  
  
  }
  
  .icon-text{
    display:flex;
    ALIGN-ITEMS:CENTER;
  }
  
  .icon-text>div{
    margin-left:10px;
  }

  .first{
    width: 20px;
  }
  .play{
    background: 0;
    border: 0;
  }
  .play:hover{
    scale: 1.1;
  }
  .play:active{
    scale: 0.9;
  }
  
  @media (max-width:750px){
    td:nth-child(2){
      display:none;
    }
    
     td:nth-child(3){
      display:none;
    }
  }