@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.lecteur{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.player .info {
        height: 60px;
        top: 0;
        opacity: 0;
        left: 10px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px 15px 5px 110px;
        border-radius: 15px;
        transition: all .5s ease;

        .artist,
        .name {
            display: block;
        }

        .name {
            color: #222;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .artist {
            color: #999;
            font-size: 12px;
            margin-bottom: 8px;
        }

        .progress-bar {
            background-color: #ddd;
            height: 2px;
            width: 100%;
            position: relative;

            .bar {
                position:absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: red;
                width: 10%;
                transition: all .2s ease;
            }
        }
        &.active {
            top: -60px;
            opacity: 1;
            transition: all .5s ease;
        }
    }

    .duration{
        padding-left: 105px;
        font-size: x-small;
        margin-top: 10px;
    }

    .volume-label {
        font-size: x-small;
    }

    input[type="range"] {
        width: 100px;
    }