<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/album.css">
</head>
<body ng-app="app">
	<section class='global-wrapper' ng-controller="ctrl">
		<aside>
			<img src="../static/images/logo.png" alt="" width="80px" height="80px">
			<!--top nav -->
			<ul>
				<li>
          <a href="#" onclick="toggleSearchBar()">
              <div class="nav-item">
                  <img src="../static/images/loupe.png" alt="">
                  <span>Recherche</span>
              </div>
          </a>
      </li>
				<li class="active">
            <a href="accueil.html">
                <div class="nav-item">
						    <img src="../static/images/home.png" alt="">
						    <span>Accueil</span>
					    </div>
                    </a>	
				</li>
        <li>
            <a href="#">
                <div class="nav-item">
                    <img src="../static/images/add-to-playlist.png" alt="">
                    <span>Playlist</span>
                </div>
            </a>
				</li>
			</ul>

			<!--bottom nav -->
			<ul>
				<li>
              <button class="nav-item open-modal-btn">
                  <img src="../static/images/setting.png" alt="">
                  <span>Paramètres</span>
              </button>
              <div class="modal-overlay">
                <div class="modal">
                    <div class="modal-header">
                        <h2>Paramètres</h2>
                        <button class="close-modal-btn">&times;</button>
                    </div>
                    <div class="modal-content">
                        <a href="" class="para"><p>Admin</p></a>
                        <a href="" class="para"><p>Mon profil</p></a>
                        <a href="" class="para"><p>Déconnexion</p></a>
                    </div>
                </div>
            </div>
				</li>
			</ul>
		</aside>

		<main id="main">
			<div id="blackout-on-hover"></div>
        <header>
            <h2>Lavound</h2>
          <div id="search-bar" class="div-top">
          <div class="search-box">
						<input id="search-input" class="search-input" type="text" placeholder="Rechercher...">
            <button class="search-button">Go</button>
        </div>
        <button class="croix-button" onclick="hideSearchBar()"><img class="croix" src="../static/images/croix.png" alt=""></button>
      </div>
          <a href="login-register.html">login</a>
        </header>
                <!-- genres -->
            <div class="center-part">
            <div class="sticky">
                <div class="top">
                <img src="../static/images/500x500.jpg" alt="" height="200" width="200" class="imgart">
                <div class="art">
                    <h2 class="nomart">Fave</h2>
                    <p class="desc">Il le fallait</p>
                </div>
                <p class="note">4.7/5</p>
            </div>
            </div>
            <div class='main-table-container'>
                <div>
                  <table>
                    <tbody>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                      <tr>
                        <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/play.png" alt="" width="15" height="15"></button></div></td>
                        <td>En vrai</td>
                         <td>Fave</td>
                         <td>3:10</td>
                         <td class="first"><div class='icon-text'><button class="play"><img src="../static/images/fav.png" alt="" width="15" height="15"></button></div></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
		</main>

	</section>
	<script src="../static/script/search.js"></script>
</body>
</html>

