<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/genre.css">
</head>
<body ng-app="app">
	<section class='global-wrapper' ng-controller="ctrl">
		<aside>
			<img src="../static/images/logo.png" alt="" width="80px" height="80px">
			<!--top nav -->
			<ul>
				<li>
          <a href="#" onclick="toggleSearchBar()">
              <div class="nav-item">
                  <img src="../static/images/loupe.png" alt="">
                  <span>Recherche</span>
              </div>
          </a>
      </li>
				<li class="active">
            <a href="accueil.html">
                <div class="nav-item">
						    <img src="../static/images/home.png" alt="">
						    <span>Accueil</span>
					    </div>
                    </a>	
				</li>
        <li>
            <a href="#">
                <div class="nav-item">
                    <img src="../static/images/add-to-playlist.png" alt="">
                    <span>Playlist</span>
                </div>
            </a>
				</li>
			</ul>

			<!--bottom nav -->
			<ul>
				<li>
              <button class="nav-item open-modal-btn">
                  <img src="../static/images/setting.png" alt="">
                  <span>Paramètres</span>
              </button>
              <div class="modal-overlay">
                <div class="modal">
                    <div class="modal-header">
                        <h2>Paramètres</h2>
                        <button class="close-modal-btn">&times;</button>
                    </div>
                    <div class="modal-content">
                        <a href="" class="para"><p>Admin</p></a>
                        <a href="" class="para"><p>Mon profil</p></a>
                        <a href="" class="para"><p>Déconnexion</p></a>
                    </div>
                </div>
            </div>
				</li>
			</ul>
		</aside>

		<main id="main">
			<div id="blackout-on-hover"></div>
        <header>
            <h2>Lavound</h2>
          <div id="search-bar" class="div-top">
          <div class="search-box">
						<input id="search-input" class="search-input" type="text" placeholder="Rechercher...">
            <button class="search-button">Go</button>
        </div>
        <button class="croix-button" onclick="hideSearchBar()"><img class="croix" src="../static/images/croix.png" alt=""></button>
      </div>
          <a href="login-register.html">login</a>
        </header>
                <!-- genres -->
            <div class="center-part">
            <h3 class="T-part">Les Albums</h3>
            <div class="album">
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
                <div class="disc-container">
                    <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                    <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                </div>
            </div>
            <button class="btn" id="buttonVoirPlus">
                <span class="icon" id="icon">+</span>
                </span>
                <span class="text" id="voir">Voir plus</span>
            </button>
            <h3 class="T-part">Les Sons</h3>
            <div class="album">
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song">
                    <div class="disc-container2">
                        <div class="cover"><img src="../static/images/500x500.jpg" alt="" width="220" height="220"></div>
                        <div class="cd"><p class="art-name">Fave</p><p class="song">Il le fallait</p></div>
                    </div>
                    <div class="buttons">
                        <button id="buttonfav" onclick="toggleBackgroundColor()">
                            <img class="fav" src="../static/images/fav.png" alt="">
                        </button>
                        <button class="buttonadd open-modal-btn2">
                            <img class="add" src="../static/images/add.png" alt="">
                        </button>
                        <div class="modal-overlay2">
                            <div class="modal2">
                                <div class="modal-header2">
                                    <h2>Playlists</h2>
                                    <button class="close-modal-btn2">&times;</button>
                                </div>
                                <div class="modal-content2">
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 1</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                    <a href="" class="para2"><p><img src="../static/images/playlist.jpg" alt="" width="30" height="30">Playlist 2</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn2" id="buttonVoirPlus2">
                <span class="icon" id="icon2">+</span>
                </span>
                <span class="text" id="voir2">Voir plus</span>
            </button>
            <h3 class="T-part">Les Artistes</h3>
            <div class="album">
                <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
            <div class="card disc-container3">
                <div class="profile-pic">
                    
                    <img src="../static/images/fave.jpg" alt="">
                </div>
                <div class="bottom">
                    <div class="content">
                        <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                    </div>
                   <div class="bottom-bottom">
                    <div class="social-links-container">
                        <span class="name">Fave</span>
                    </div>
                    <button class="button">Plus d'infos</button>
                   </div>
                </div>
            </div>
        </div>
        <button class="btn" id="buttonVoirPlus3">
            <span class="icon" id="icon3">+</span>
            </span>
            <span class="text" id="voir3">Voir plus</span>
        </button>
    </div>
            
		</main>

	</section>
    <script src="../static/script/fav.js"></script>
    <script src="../static/script/genre3.js"></script>
    <script src="../static/script/genre2.js"></script>
    <script src="../static/script/genre.js"></script>
	<script src="../static/script/search.js"></script>
</body>
</html>

