<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/les-playlists.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body ng-app="app">
	<section class='global-wrapper' ng-controller="ctrl">
		<aside>
			<img src="../static/images/logo.png" alt="" width="80px" height="80px">
			<!--top nav -->
			<ul>
				<li>
          <a href="#" onclick="toggleSearchBar()">
              <div class="nav-item">
                  <img src="../static/images/loupe.png" alt="">
                  <span>Recherche</span>
              </div>
          </a>
      </li>
				<li class="active">
            <a href="accueil.html">
                <div class="nav-item">
						    <img src="../static/images/home.png" alt="">
						    <span>Accueil</span>
					    </div>
                    </a>	
				</li>
        <li>
            <a href="#">
                <div class="nav-item">
                    <img src="../static/images/add-to-playlist.png" alt="">
                    <span>Playlist</span>
                </div>
            </a>
				</li>
			</ul>

			<!--bottom nav -->
			<ul>
				<li>
              <button class="nav-item open-modal-btn">
                  <img src="../static/images/setting.png" alt="">
                  <span>Paramètres</span>
              </button>
              <div class="modal-overlay">
                <div class="modal">
                    <div class="modal-header">
                        <h2>Paramètres</h2>
                        <button class="close-modal-btn">&times;</button>
                    </div>
                    <div class="modal-content">
                        <a href="" class="para"><p>Admin</p></a>
                        <a href="" class="para"><p>Mon profil</p></a>
                        <a href="" class="para"><p>Déconnexion</p></a>
                    </div>
                </div>
            </div>
				</li>
			</ul>
		</aside>

		<main id="main">
			<div id="blackout-on-hover"></div>
        <header>
            <h2>Lavound</h2>
          <div id="search-bar" class="div-top">
          <div class="search-box">
						<input id="search-input" class="search-input" type="text" placeholder="Rechercher...">
            <button class="search-button">Go</button>
        </div>
        <button class="croix-button" onclick="hideSearchBar()"><img class="croix" src="../static/images/croix.png" alt=""></button>
      </div>
          <a href="login-register.html">login</a>
        </header>
                <!-- A relier -->
                <!-- vvvvvvvv -->
                <div class="content">
                    <div class="playlist">
                    <div class="card">
                      <div class="img">
                        <img src="../static/images/playlist.jpg">
                        <button>
                          <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true"><polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon></svg>
                        </button>
                      </div>
                      <div class="textos">
                        <h2>Favoris</h2>
                        <p>Tes musiques favorites</p>
                      </div>
                    </div>
                    <div class="genre-container">
                        <!-- Bouton de modification -->
                        <div class="boutons">
                            <button class="custom-btn bouton-modif" onclick="showEditForm(1)">Modifier</button>
                            <button class="buttonadd" onclick="return confirmSuppressionPlaylist(1)">
                                <img class="add" src="../static/images/croix.png" alt="">
                            </button>
                        </div>
                        <!-- Formulaire de modification -->
                        <form class="form" id="editForm_1" style="display: none;" action="/?action=modifier_playlist&id_playlist=1" method="post">
                            <input type="hidden" name="id_playlist" value="1">
                            <div class="form-control">
                                <input type="text" id="nouveau_nom" name="nouveau_nom" required>
                                <label>
                                    <span style="transition-delay:0ms">N</span>
                                    <span style="transition-delay:50ms">o</span>
                                    <span style="transition-delay:100ms">u</span>
                                    <span style="transition-delay:150ms">v</span>
                                    <span style="transition-delay:200ms">e</span>
                                    <span style="transition-delay:250ms">a</span>
                                    <span style="transition-delay:300ms">u</span>
                                    <span style="transition-delay:400ms"> </span>
                                    <span style="transition-delay:450ms">n</span>
                                    <span style="transition-delay:500ms">o</span>
                                    <span style="transition-delay:550ms">m</span>
                                    <span style="transition-delay:600ms"> </span>
                                    <span style="transition-delay:650ms">:</span>
                                </label>
                            </div>
                            <button class="custom-btn bouton-modif" type="submit">Valider</button>
                            <!-- Bouton Annuler -->
                            <button class="custom-btn bouton-modif" type="button" onclick="cancelEdit(1)">Annuler</button>
                        </form>
                    </div>
                    </div>
                    <div class="playlist">
                    <div class="card">
                      <div class="img">
                        <img src="../static/images/playlist.jpg">
                        <button>
                          <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true"><polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon></svg>
                        </button>
                      </div>
                      <div class="textos">
                        <h2>Rap</h2>
                        <p>Votre playlist Rap</p>
                      </div>
                    </div>
                    <div class="genre-container">
                        <!-- Bouton de modification -->
                        <div class="boutons">
                            <button class="custom-btn bouton-modif" onclick="showEditForm(1)">Modifier</button>
                            <button class="buttonadd" onclick="return confirmSuppressionPlaylist(1)">
                                <img class="add" src="../static/images/croix.png" alt="">
                            </button>
                        </div>
                        <!-- Formulaire de modification -->
                        <form id="editForm_1" style="display: none;" action="/?action=modifier_playlist&id_playlist=1" method="post">
                            <input type="hidden" name="id_playlist" value="1">
                            <div class="form-control">
                                <input type="text" id="nouveau_nom" name="nouveau_nom" required>
                                <label>
                                    <span style="transition-delay:0ms">N</span>
                                    <span style="transition-delay:50ms">o</span>
                                    <span style="transition-delay:100ms">u</span>
                                    <span style="transition-delay:150ms">v</span>
                                    <span style="transition-delay:200ms">e</span>
                                    <span style="transition-delay:250ms">a</span>
                                    <span style="transition-delay:300ms">u</span>
                                    <span style="transition-delay:400ms"> </span>
                                    <span style="transition-delay:450ms">n</span>
                                    <span style="transition-delay:500ms">o</span>
                                    <span style="transition-delay:550ms">m</span>
                                    <span style="transition-delay:600ms"> </span>
                                    <span style="transition-delay:650ms">:</span>
                                </label>
                            </div>
                            <button class="custom-btn bouton-modif" type="submit">valider</button>
                            <!-- Bouton Annuler -->
                            <button class="custom-btn bouton-modif" type="button" onclick="cancelEdit(1)">Annuler</button>
                        </form>
                    </div>
                </div>
                    <div class="playlist">
                    <div class="card">
                        <div class="img">
                          <img src="../static/images/playlist.jpg">
                          <button>
                            <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true"><polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon></svg>
                          </button>
                        </div>
                        <div class="textos">
                            <h2>Rock</h2>
                            <p>Votre playlist Rock</p>
                        </div>
                      </div>
                      <div class="genre-container">
                        <!-- Bouton de modification -->
                        <div class="boutons">
                            <button class="custom-btn bouton-modif" onclick="showEditForm(1)">Modifier</button>
                            <button class="buttonadd" onclick="return confirmSuppressionPlaylist(1)">
                                <img class="add" src="../static/images/croix.png" alt="">
                            </button>
                        </div>
                        <!-- Formulaire de modification -->
                        <form id="editForm_1" style="display: none;" action="/?action=modifier_playlist&id_playlist=1" method="post">
                            <input type="hidden" name="id_playlist" value="1">
                            <div class="form-control">
                                <input type="text" id="nouveau_nom" name="nouveau_nom" required>
                                <label>
                                    <span style="transition-delay:0ms">N</span>
                                    <span style="transition-delay:50ms">o</span>
                                    <span style="transition-delay:100ms">u</span>
                                    <span style="transition-delay:150ms">v</span>
                                    <span style="transition-delay:200ms">e</span>
                                    <span style="transition-delay:250ms">a</span>
                                    <span style="transition-delay:300ms">u</span>
                                    <span style="transition-delay:400ms"> </span>
                                    <span style="transition-delay:450ms">n</span>
                                    <span style="transition-delay:500ms">o</span>
                                    <span style="transition-delay:550ms">m</span>
                                    <span style="transition-delay:600ms"> </span>
                                    <span style="transition-delay:650ms">:</span>
                                </label>
                            </div>
                            <button class="custom-btn bouton-modif" type="submit">valider</button>
                            <!-- Bouton Annuler -->
                            <button class="custom-btn bouton-modif" type="button" onclick="cancelEdit(1)">Annuler</button>
                        </form>
                    </div>
                    </div>
                      <div class="playlist">
                      <div class="card">
                        <div class="img">
                          <img src="../static/images/playlist.jpg">
                          <button>
                            <svg height="16" role="img" width="16" viewBox="0 0 24 24" aria-hidden="true"><polygon points="21.57 12 5.98 3 5.98 21 21.57 12" fill="currentColor"></polygon></svg>
                          </button>
                        </div>
                        <div class="textos">
                            <h2>Pop</h2>
                            <p>Votre playlist Pop</p>
                        </div>
                      </div>
                      <div class="genre-container">
                        <!-- Bouton de modification -->
                        <div class="boutons">
                            <button class="custom-btn bouton-modif" onclick="showEditForm(1)">Modifier</button>
                            <button class="buttonadd" onclick="return confirmSuppressionPlaylist(1)">
                                <img class="add" src="../static/images/croix.png" alt="">
                            </button>
                        </div>
                        <!-- Formulaire de modification -->
                        <form id="editForm_1" style="display: none;" action="/?action=modifier_playlist&id_playlist=1" method="post">
                            <input type="hidden" name="id_playlist" value="1">
                            <div class="form-control">
                                <input type="text" id="nouveau_nom" name="nouveau_nom" required>
                                <label>
                                    <span style="transition-delay:0ms">N</span>
                                    <span style="transition-delay:50ms">o</span>
                                    <span style="transition-delay:100ms">u</span>
                                    <span style="transition-delay:150ms">v</span>
                                    <span style="transition-delay:200ms">e</span>
                                    <span style="transition-delay:250ms">a</span>
                                    <span style="transition-delay:300ms">u</span>
                                    <span style="transition-delay:400ms"> </span>
                                    <span style="transition-delay:450ms">n</span>
                                    <span style="transition-delay:500ms">o</span>
                                    <span style="transition-delay:550ms">m</span>
                                    <span style="transition-delay:600ms"> </span>
                                    <span style="transition-delay:650ms">:</span>
                                </label>
                            </div>
                            <button class="custom-btn bouton-modif" type="submit">valider</button>
                            <!-- Bouton Annuler -->
                            <button class="custom-btn bouton-modif" type="button" onclick="cancelEdit(1)">Annuler</button>
                        </form>
                    </div>
                    </div>
                  </div>
                  <!-- formadd -->
                  <div class="container slider-one-active" id="container">
                    <div class="steps">
                      <div class="step step-one">
                        <div class="liner"></div>
                        <span>Nom</span>
                      </div>
                      <div class="step step-two">
                        <div class="liner"></div>
                        <span>Image</span>
                      </div>
                      <div class="step step-three">
                        <div class="liner"></div>
                        <span>Validation</span>
                      </div>
                    </div>
                    <div class="line">
                      <div class="dot-move"></div>
                      <div class="dot zero"></div>
                      <div class="dot center"></div>
                      <div class="dot full"></div>
                    </div>
                    <div class="slider-ctr">
                      <div class="slider">
                        <form class="slider-form slider-one">
                          <h2>Rentrez le nom de la playlist</h2>
                          <label class="input">
                            <input type="text" class="name" placeholder="Nom playlist">
                          </label>
                          <button class="first next">Prochaine étape</button>
                        </form>
                        <form class="slider-form slider-two">
                          <div class="label-ctr">
                            <div class="border">
                            <form class="dragger padding_2x">
                                <label class="fixed_flex padding_3x">
                                    <i class="fa fa-cloud-upload"></i>
                                    <h2 class="title">Drag & Drop<br>une image</h2>
                                    <p>Accepté : png, jpg, jpeg</p>
                                    <input class="input-image" type="file" name="dragger[]" input-mode="file" accept=".png,.jpg,.jpeg" />
                                </label>
                            </div>
                                
                                <ul class="file_preview"></ul>
                            </form>
                            <button class="second next">Prochaine étape</button>
                          </div>
                        </form>
                        <div class="slider-form slider-three">
                          <h2>Pour finir,</h2>
                          <h3>Appuyez sur le bouton ci-dessous
                                      </h3>
                          <a class="reset" href="#" target="_blank">Ajouter</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="buttonadd addplay" onclick="actionPopup()">
                    <img class="add" src="../static/images/add.png" alt="">
                </button>
                <!-- ^^^^^^^^ -->
                <!-- A relier -->
		</main>

	</section>
	<script src="../static/script/search.js"></script>
    <script src="../static/script/image.js"></script>
    <script src="../static/script/popup.js"></script>
    <script src="../static/script/form.js"></script>
    <script src="../static/script/les-playlists.js"></script>
</body>
</html>

