<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/login-register.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>
<body ng-app="app">
	<section class='global-wrapper' ng-controller="ctrl">
		<aside>
			<h1>logo</h1>
			<!--top nav -->
			<ul>
				<li class="active">
          <a href="#" onclick="toggleSearchBar()">
              <div class="nav-item">
                  <img src="../static/images/loupe.png" alt="">
                  <span>Recherche</span>
              </div>
          </a>
      </li>
				<li>
            <a href="accueil.html">
                <div class="nav-item">
						    <img src="../static/images/home.png" alt="">
						    <span>Accueil</span>
					    </div>
                    </a>	
				</li>
        <li>
            <a href="#">
                <div class="nav-item">
                    <img src="../static/images/add-to-playlist.png" alt="">
                    <span>Playlist</span>
                </div>
            </a>
				</li>
			</ul>

			<!--bottom nav -->
			<ul>
				<li>
          <a href="#">
              <div class="nav-item">
                  <img src="../static/images/setting.png" alt="">
                  <span>Paramètres</span>
              </div>
          </a>
				</li>
			</ul>
		</aside>

		<main id="main">
			<div id="blackout-on-hover"></div>
        <header>
            <h2>Nom du site</h2>
          <div id="search-bar" class="div-top">
          <div class="search-box">
            <input id="search-input" class="search-input" type="text" placeholder="Rechercher...">
            <button class="search-button">Go</button>
        </div>
        <button class="croix-button" onclick="hideSearchBar()"><img class="croix" src="../static/images/croix.png" alt=""></button>
      </div>
          <a href="login-register.html">login</a>
        </header>
                
        <div class="container">
            <div class="forms-container">
                <div class="signin-signup">
                    <form action="#" class="sign-in-form">
                        <h2 class="title">Sign in</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Nom d'utilisateur" />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Mot de passe" />
                        </div>
                        <input type="submit" value="Login" class="btn solid" />
                    </form>
                    <form action="#" class="sign-up-form">
                        <h2 class="title">Sign up</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Nom d'utilisateur" />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Mot de passe" />
                        </div>
                        <input type="submit" class="btn" value="Sign up" />
                    </form>
                </div>
            </div>
    
            <div class="panels-container">
                <div class="panel left-panel">
                    <div class="content">
                        <h3>Vous êtes nouveau ?</h3>
                        <p>
                            Rejoignez nous en vous inscrivant avec le bouton ci-dessous. 
                            Vous donnant accès à de nouvelles fonctionnalités tel que le création de playlist et bien plus encore
                        </p>
                        <button class="btn transparent" id="sign-up-btn">
                            Sign up
                        </button>
                    </div>
                </div>
                <div class="panel right-panel">
                    <div class="content">
                        <h3>Vous possédez déjà un compte.</h3>
                        <p>
                            Merci de nous soutenir. 
                            Connectez vous a votre compte en appuyant sur le bouton ci-dessous.
                        </p>
                        <button class="btn transparent" id="sign-in-btn">
                            Sign in
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="../static/script/login-register.js"></script>


		</main>

	</section>
	<script src="../static/script/search.js"></script>
</body>
</html>

