<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/profil.css">
</head>
<body ng-app="app">
	<section class='global-wrapper' ng-controller="ctrl">
		<aside>
			<img src="../static/images/logo.png" alt="" width="80px" height="80px">
			<!--top nav -->
			<ul>
				<li>
          <a href="#" onclick="toggleSearchBar()">
              <div class="nav-item">
                  <img src="../static/images/loupe.png" alt="">
                  <span>Recherche</span>
              </div>
          </a>
      </li>
				<li class="active">
            <a href="accueil.html">
                <div class="nav-item">
						    <img src="../static/images/home.png" alt="">
						    <span>Accueil</span>
					    </div>
                    </a>	
				</li>
        <li>
            <a href="#">
                <div class="nav-item">
                    <img src="../static/images/add-to-playlist.png" alt="">
                    <span>Playlist</span>
                </div>
            </a>
				</li>
			</ul>

			<!--bottom nav -->
			<ul>
				<li>
              <button class="nav-item open-modal-btn">
                  <img src="../static/images/setting.png" alt="">
                  <span>Paramètres</span>
              </button>
              <div class="modal-overlay">
                <div class="modal">
                    <div class="modal-header">
                        <h2>Paramètres</h2>
                        <button class="close-modal-btn">&times;</button>
                    </div>
                    <div class="modal-content">
                        <a href="" class="para"><p>Admin</p></a>
                        <a href="" class="para"><p>Mon profil</p></a>
                        <a href="" class="para"><p>Déconnexion</p></a>
                    </div>
                </div>
            </div>
				</li>
			</ul>
		</aside>

		<main id="main">
			<div id="blackout-on-hover"></div>
        <header>
            <h2>Lavound</h2>
          <div id="search-bar" class="div-top">
          <div class="search-box">
						<input id="search-input" class="search-input" type="text" placeholder="Rechercher...">
            <button class="search-button">Go</button>
        </div>
        <button class="croix-button" onclick="hideSearchBar()"><img class="croix" src="../static/images/croix.png" alt=""></button>
      </div>
          <a href="login-register.html">login</a>
        </header>
                <!-- A relier -->
                <!-- vvvvvvvv -->
                <div class="profil">
                <div class="card">
                  <div class="content">
                    <div class="details">
                      <div class="data">
                        <h3>Pseudo <br> <span>quentin</span></h3>
                        <h3>Email <br> <span>quentin@gmail.com</span></h3>
                        <h3>Mot de passe<br> <span>Test123!</span></h3>
                      </div>
                
                    </div>
                    <div class="modif">
                      <form class="modif-form" id="editForm_" action="" method="post">
                        <input type="hidden" name="id_utilisateur" value="">
                        <label for="nouveau_nom_utilisateur">Nouveau pseudo :</label>
                        <div class="bottom">
                        <input type="text" id="nouveau_nom_utilisateur" name="nouveau_nom_utilisateur" value="" required>
                      </div>
                        <label for="nouveau_mail_utilisateur">Nouveau mail :</label>
                        <div class="bottom">
                        <input type="mail" id="nouveau_mail_utilisateur" name="nouveau_mail_utilisateur" value="" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" title="Entrez une adresse e-mail valide">
                      </div>
                        <label for="nouveau_mdp">Nouveau mot de passe :</label>
                        <div class="bottom">
                        <input type="text" id="nouveau_mdp" name="nouveau_mdp" value="" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,}$" title="Le mot de passe doit comporter au moins 8 caractères, y compris au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.">
                      </div>
                        <button class="custom-btn bouton-modif"type="submit">Modifier</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
                <!-- ^^^^^^^^ -->
                <!-- A relier -->
		</main>

	</section>
	<script src="../static/script/search.js"></script>
</body>
</html>

