<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="testavis.css">
</head>
<body>
    <button class="feedback-btn">
        Avis
      </button>
      
      <div class="modal">
        <button class="close">
          
        </button>
        
        <h3 class="title">
          Avez-vous aimé cet album ?
        </h3>
        
        <form action="" class="feedback">
          <div class="score">
            <input id="score1" type="radio" value="1" name="score">
            <label for="score1">1</label>
          </div>
          
          <div class="score">
            <input id="score2" type="radio" value="2" name="score">
            <label for="score2">2</label>
          </div>
          
          <div class="score">
            <input id="score3" type="radio" value="3" name="score">
            <label for="score3">3</label>
          </div>
          
          <div class="score">
            <input id="score4" type="radio" value="4" name="score">
            <label for="score4">4</label>
          </div>
          
          <div class="score">
            <input id="score5" type="radio" value="5" name="score">
            <label for="score5">5</label>
          </div>
          
          <div class="score">
            <input id="score6" type="radio" value="6" name="score">
            <label for="score6">6</label>
          </div>
          
          <div class="score">
            <input id="score7" type="radio" value="7" name="score">
            <label for="score7">7</label>
          </div>
          
          <div class="score">
            <input id="score8" type="radio" value="8" name="score">
            <label for="score8">8</label>
          </div>
          
          <div class="score">
            <input id="score9" type="radio" value="9" name="score">
            <label for="score9">9</label>
          </div>
          
          <div class="score">
            <input id="score10" type="radio" value="10" name="score">
            <label for="score10">10</label>
          </div>
        </form>
        
        <div class="options">
          <button class="cancel" type="button">Annuler</button>
          <button class="submit" type="submit">Confirmer</button>
        </div>
      </div>
</body>
<script src="testavis.js"></script>
</html>

